<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= render 'favicon' %>
    <title>MissingFursons</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="top-layer">
        <%=image_tag("ico-wo.svg", alt: "Missing Fursons Banner", :class => "image-container")%>
        <h1>Missing Fursons</h1>
      </div>
      <div class="mid-layer"></div>
      <div class="bottom-layer"></div>
    </header>
    </a>

    <nav>
      <div class="left">
        <span><%= link_to 'Home', root_path %>|</span>
        <span><%= link_to 'Active Alerts', posts_path %>|</span>
        <% if user_signed_in? %>
        <span><%= link_to 'Add a Pet', add_path %>|</span>
        <% end %>
        <span><%= link_to 'Found a Pet?', resources_page_path %></span>
      </div>
      <div class="right">
        <span><%= link_to 'Success Stories', blog_page_path %>|</span>
        <% if user_signed_in? %>
        <span><%= link_to "Logged in as #{current_user.name}", user_show_path(current_user.id) %>|</span>
        <span><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></span>
        <% elsif %>
        <span><%= link_to 'Register', new_user_registration_path %>|</span>
        <span><%= link_to 'Login', new_user_session_path %></span>
        <% end %>
      </div>
    </nav>

    <main>
      <div class="wrapper">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
